@model ProjectsManagment.Models.Partition


<td>
    @Html.DisplayFor(modelItem => Model.Name)
</td>
@if (string.IsNullOrEmpty(Model.Description))
{
    <td>
        Описание отсутствует
    </td>
}
else
{ 
<td>
    @Html.DisplayFor(modelItem => Model.Description)
</td>
}
<td>
    @Html.DisplayFor(modelItem => Model.State.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.CreationDate)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.DeadLine)
</td>
@if (Model.Manager == null)
{
    <td>
        Отсутствует
    </td>
}
else
{
    <td>
        @Model.Manager.Surname @Model.Manager.Name @Model.Manager.Fathername (@Model.Manager.Email)
    </td>
}
<td>
    @{
        int i=0;
        foreach(var task in Model.Tasks)
        { 
            if(i<3)
            { 
                <a href="/Task/Details/@task.Id">@task.Name</a><br />
            }
            i++;
        }        
    }
    <a href="/Task?id=@Model.Id">Просмотреть все</a>
</td>
<td id="actions-@Model.Id.ToString()">
    @if (Request.IsAuthenticated && (User.IsInRole("Главный инженер проекта") || User.IsInRole("Директор") ))
    {
        
        if (!Model.IsFinish)
        {
            using (Ajax.BeginForm("MakeFinish", "Partition", new { id = Model.Id, details = false }, new AjaxOptions { UpdateTargetId = "task-" + Model.Id.ToString() }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn-green" style="margin:5px" value="Завершить" />
            }
        }
        if (Model.IsPreFinish || Model.IsFinish)
        {
            using (Ajax.BeginForm("ShowInfoForCancel", "Partition", new { id = Model.Id, details = false }, new AjaxOptions { UpdateTargetId = "actions-" + Model.Id.ToString() }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn-red" style="margin:5px" value="Отменить завершение" />
            }
        }

    }
    else
    {
        if (Model.Manager != null && !Model.IsFinish && Request.IsAuthenticated && User.Identity.Name == Model.Manager.UserName)
        {
            if (!Model.IsPreFinish)
            {
                using (Ajax.BeginForm("MakeFinish", "Partition", new { id = Model.Id, details = false }, new AjaxOptions { UpdateTargetId = "task-" + Model.Id.ToString() }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn-green" style="margin-left:5px" value="Завершить" />
                }
            }
            else
            {
                using (Ajax.BeginForm("ShowInfoForCancel", "Partition", new { id = Model.Id, details = false }, new AjaxOptions { UpdateTargetId = "actions-" + Model.Id.ToString() }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn-red" style="margin-left:5px" value="Отменить завершение" />
                }

            }
        }
    }
</td>

<td>
    @if (Request.IsAuthenticated && (User.IsInRole("Главный инженер проекта") || User.IsInRole("Директор") ))
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) 
        <br/>
        @Html.ActionLink("Удалить", "Delete", new { id = Model.Id })    
        <br/>
    }
    @Html.ActionLink("Подробнее", "Details", new { id = Model.Id }) 
</td>
