@{
    ViewBag.Title = "События";
}

<h2>События</h2>
<div class="common-div">
    <div class="common-div-left">
        <h3 >Новые</h3>
    </div>
    <div class="common-div-left" >
        @using (Ajax.BeginForm("ShowEvents", "Event", new { showAll = true }, new AjaxOptions { UpdateTargetId = "new-events" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn-default" style="margin-left:10px; margin-top:17px" value="Обновить" />
        }
    </div>
</div>
<div class="common-div" id="new-events">
    @Html.Action("ShowEvents", "Event", new { showAll = true })
    
</div>
@using (Html.BeginForm("EventsSeen", "Event"))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn-light-blue" value="Я в курсе" />
}
<div class="common-div">
    <div class="common-div-left">
        <h3 >Просмотренные</h3>
        </div>
    <div class="common-div-left">
        @using (Ajax.BeginForm("ShowEvents", "Event", new { seen = true, count = 20 }, new AjaxOptions { UpdateTargetId = "old-events" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn-default" style="margin-left: 10px; margin-top: 20px" value="Обновить" />
        }
    </div>
</div>
<div class="common-div" id="old-events">
    @Html.Action("ShowEvents", "Event", new { seen = true, count = 20 })
</div>
@using (Ajax.BeginForm("ShowEvents", "Event", new { seen = true, showAll = true }, new AjaxOptions { UpdateTargetId = "old-events" }))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn-green"  value="Показать все" />
}
